body {
  background-image: url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container {
  margin: 0cm;
  padding: 0cm;
  border-bottom: 0cm;
}
.div {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
#header {
  font-family: "Courier New", Courier, monospace;
  color: whitesmoke;
  margin: 30px auto;
  width: 480px;
  height: 100px;
}
#survey-form {
  font-size: 22 px;
  border-bottom-style: none;
  padding: 30px 30px 10px 30px;
  background-color: rgb(240, 240, 228);
  border-radius: 1%;
  opacity: 0.85;
  color: black;
  font-weight: bold;
  width: 30em;
  margin: 0 auto;
  height: 50em;
}
#submit {
  background-color: rgb(59, 151, 59);
  color: whitesmoke;
  height: 5vh;
  width: 25vw;
  border-style: none;
}
textarea {
  margin-top: 10px;
  height: 15vh;
  width: 25vw;
  resize: vertical;
}
#number,
#dropdown,
#name,
#email {
  margin-bottom: 5px;
  height: 2.5vh;
  width: 25vw;
}
